// Colors
$dark-grey: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grey-blue: hsl(212, 23%, 69%);
$grey-blue-light: hsl(210, 46%, 95%);

// Font size
$regular-size: 1.3rem;

// Font family
$font-family: 'Manrope';

// Font weight
$font-bold: 500;
$font-bolder: 700;
